@media screen and (min-width: 375px) {
  // whatever styles you need here
  body {
    background-color: purple;

    img {
      width: 350px;
      height: 300px;
    }
  }
}

@media screen and (min-width: 768px) {
  // whatever styles you need here
  body {
    background-color: rgb(38, 76, 159);
    img {
      width: 350px;
      height: 300px;
    }
  }
}

@media screen and (min-width: 1024px) {
  // whatever styles you need here
  body {
    background-color: rgb(11, 123, 16);

    img {
      width: 300px;
      height: 300px;
    }
  }
}
